.wrapper {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}
.banner-section {
  background-image: url(https://res.cloudinary.com/dghqyted6/image/upload/v1682071537/Group_14373_1_jfhoaw.svg);
  background-size: cover;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.navbar-sticky{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  transition: 0.2s ease-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.wrapper-navbar{
  max-width: 1170px;
  padding: 15px;
  margin: 0 auto;
}
.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left .logo-txt h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: #282828;
  margin-left: 7px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.signup-btn, .login-btn{
  padding: 13px 40px;
  background: #ffffff;
  border: 2px solid #fb5f66;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fb5f67;
  transition: 0.2s ease-in-out;
}
.signup-btn:hover, .login-btn:hover{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.signup-btn, .login-btn:hover{
  background-color: #fb5f67;
  color: white;
}
.banner-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  opacity: 0.6;
  background-repeat: repeat;
  background-size: 14px;
  background-image: url(https://res.cloudinary.com/dghqyted6/image/upload/v1667904577/Frame_2328_z3dg7n.svg);
}


.banner-left {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banner-right {
  padding-bottom: 30px;
  margin-right: -300px;
}
.banner-right > img{
  max-width: unset;
}
.banner-details-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 0.01em;
  color: #444444;
}
.banner-heading span {
  color: #fb5f66;
}
.banner-details {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(68, 68, 68, 0.8);
}
.banner-details span {
  font-weight: 500;
}
/* .no-card-credit-signup {
  width: 86%;
} */
.credit-free-trial {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 12px;
}
.credit-free-trial p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.sign-up-email {
  position: relative;
}
.sign-up-email svg {
  position: absolute;
  top: 24px;
  left: 20px;
  z-index: 1;
}
.sign-up-email input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
  font-size: var(--font-size-16);
  height: 60px;
  padding: 23px 44px 23px 44px;
  width: 100%;
}
.sign-up-email input::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #b6b6b6;
}
.sign-up-email button {
  position: absolute;
  top: 4px;
  right: 5px;
  background: #fb5f66;
  border-radius: 25px;
  padding: 18px 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

/* UseChatbot */
.chatbot_builder {
  padding-top: 80px;
  padding-bottom: 90px;
  background: linear-gradient(
    256.88deg,
    #fff3f4 1.94%,
    rgba(255, 245, 246, 0.17) 98.72%
  );
}
.chatbot_builder h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #282828;
  margin-bottom: 18px;
}
.chatbot_builder p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #666666;
  margin-bottom: 50px;
}
.chatbox_builder_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
}
.chatbot_builder-box {
  padding: 20px 20px 30px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.chatbot_builder-box .box-image-section {
  padding: 20px;
  background: #ffeff0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.chatbot-box-content h5 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #444444;
}
.chatbot-box-content {
  margin-top: 30px;
}
.chatbot-box-content p {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 14px;
}
/* Example Chatbots css */
.example_chatbots-container {
  padding: 80px 20px;
}
.heading {
  margin-bottom: 40px;
}
.heading > h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #282828;
}
.heading > p {
  margin-top: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #666666;
}
.example-chatbot-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.example-chatbot-box .img-card > picture > img{
  filter: grayscale(100%);
  transition: 0.5s ease;
  cursor: pointer;
}
.example-chatbot-box .img-card:hover > picture > img{
  filter: grayscale(0%);
  transform: scale(1.05);
  animation: fadeout .5s ease-in-out;
}

.example-chatbot-box .img-card:hover > picture > .overlay-gradient{
  transform: scale(1.05);
  animation: fadeout .5s ease-in-out;
}
.example-chatbot-box .img-card {
  position: relative;
}
.example-chatbot-box .img-card .img-details {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 25px;
  z-index: 2;
}
.example-chatbot-box .img-card .img-details .img-details-left h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 5px;
}
.example-chatbot-box .img-card .img-details .img-details-left span {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.example-chatbot-box .img-card .img-details .img-details-right {
  background: #ffffff;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
}

/* Live Demo css */
.live-demo-container {
  padding: 80px;
  background: linear-gradient(
    256.88deg,
    #fff3f4 1.94%,
    rgba(255, 245, 246, 0.17) 98.72%
  );
}
.live-demo-container h4 {
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #282828;
}
.live-demo-container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #666666;
}
.chat-response-box {
  padding: 16px;
  /* background: #ffffff; */
  /* box-shadow: 2.43966px 3.25287px 19.5172px rgba(0, 0, 0, 0.08); */
  border-radius: 8px;
  /* max-width: 556px; */
  /* margin: 60px auto 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-response-box iframe{
  box-shadow: 2.43966px 3.25287px 19.5172px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.chat-response-box .chat-response-head {
  background: #f8f8f8;
  border-radius: 6.50575px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.chat-response-box .chat-response-head svg {
  width: 35px;
  height: 33px;
}
.chat-response-box .chat-response-head .head-details h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}
.chat-response-box .chat-response-head .head-details span {
  font-weight: 400;
  font-size: 11.3851px;
  line-height: 16px;
  color: #6d6d6d;
}
.chat-response-middle {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.chat-response-middle .no-data {
  padding: 16px 73px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 13.0115px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #444444;
  background: rgba(251, 95, 102, 0.08);
  border-radius: 6.50575px 13.8247px 13.8247px 13.8247px;
}
.chat-response-box .chat-response-textarea {
  position: relative;
  height: auto;
  margin-top: 25px;
  padding-right: 6px;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #F8F8F8;
border: 0.804878px solid rgba(0, 0, 0, 0.05);
border-radius: 6.43902px;
display: flex;
align-items: center;
}
.chat-response-box .chat-response-textarea input {
  font-weight: 400;
font-size: 13px;
line-height: 17px;
  height: 100%;
  background: #f8f8f8;
  width: 100%;
  resize: none;
  
}
.chat-response-box .chat-response-textarea textarea::-webkit-scrollbar {
  display: none;
}
.chat-response-box .chat-response-textarea button {
  bottom: 12px;
  width: 45px;
  height: 45px;
  background: #fb5f66;
  border: 1.62644px solid #fb5f66;
  border-radius: 12.878px;
  font-weight: 400;
  font-size: 11.3851px;
  line-height: 13px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.branding{
  font-family: 'Rubik';
  font-weight: 500;
font-size: 12px;
line-height: 10px;
color: #444444;
background: #F8F8F8;
padding: 6px 10px;
border-radius: 50px;
display: flex;
align-items: center;
gap: 8px;
}
/* Pricing css */
.pricing-container {
  padding: 80px;
}
.pricing-container h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.pricing-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  margin-top: 35px;
  justify-content: center;
}
.pricing-flex .pricing-box {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 30px;
}
/* .pricing-flex .box-active{
  background: #ffffff;
  border: 2px solid #fb5f66;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
} */
.pricing-box button {
  padding: 15px 65px;
  border: 1px solid #fb5f66;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fb5f66;
  margin-bottom: 30px;
  transition: 0.3s ease-in-out;
}
.pricing-box:hover{
  background: #ffffff;
  outline: 2px solid #fb5f66;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
.pricing-box:hover button{
  background-color: #fb5f66;
  color: white;
}
.pricing-flex .pricing-box h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #666666;
}
.per-month-year {
  font-family: "Rubik";
  font-style: normal;
  display: flex;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #fb5f66;
  margin: 15px 0 25px;
}
.per-month-year span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

/* .pricing-flex .box-active button {
  background: #fb5f66;
  border-radius: 4px;
  color: #ffffff;
} */
.features-list h4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.features-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features-list ul li {
  display: flex;
  gap: 7px;
  align-items: center;
}
/* Toggle */
.pricing-toggle {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.pricing-toggle-wrapper {
  position: relative;
  display: inline-block;
  padding-right: 44px;
}

.pricing-toggle-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}
.pricing-head p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3e9adc;
  margin-top: 10px;
}
.pricing-head h2{
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #444444;
}
.pricing-head{
  margin-bottom: 40px;
}
.toggle-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fb5f67;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 34px;
  height: 20px;
}

.toggle-switch:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: translateX(0%);
}

input:checked + .toggle-switch {
  background: #fb5f67;
}

input:focus + .toggle-switch {
  box-shadow: 0 0 1px #fb5f67;
}

input:checked + .toggle-switch:before {
  -webkit-transform: translateX(90%);
  -ms-transform: translateX(90%);
  transform: translateX(90%);
}
/* Rounded pricing-toggles */

.toggle-switch.round {
  border-radius: 34px;
}

.toggle-switch.round:before {
  border-radius: 50%;
}

.monthly-label {
  padding-right: 10px;
}

.monthly-label,
.yearly-label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #444444;
}
.monthly-label.selected,
.yearly-label.selected {
  font-weight: 500;
  color: #fb5f67;
}

/* Launchbot css */
.launchbot-container {
  width: 65%;
  margin: 0 auto 80px;
}
.launchbot-head {
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  background: linear-gradient(
    256.88deg,
    #fff3f4 1.94%,
    rgba(255, 245, 246, 0.17) 98.72%
  );
}
.launchbot-head h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 40px;
  color: #282828;
}
.launchbot-head span {
  color: #fb5f66;
}
.launchbot-head button {
  background: #fb5f66;
  border-radius: 25px;
  padding: 12px 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.launchbot-options {
  width: 66%;
  margin: 0 auto;
}
.launchbot-options h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #282828;
  margin: 80px 0 40px;
}
.launchbot-list {
  width: 100%;
}
.faq-ques {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 30px;
  height: 85px;
  transition: height 0.3s ease-in-out;
  cursor: pointer;
}
.faq-ques span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #444444;
}
.active-faq{
  height: 120px;
}
.active-ques{
  color: #FB5F66!important;
  transition: color 0.3s ease-in-out;
}

.faq-ques p {
  opacity: 0;
  transition: 0.3s ease-in-out;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.8);
}

/* Footer css */
footer {
  padding: 30px 0 55px;
  width: 59%;
  margin: 0 auto;
}
.footer-container {
  display: flex;
  gap: 55px;
  margin-bottom: 50px;
}
.footer-left {
  width: 50%;
  border-right: 1px solid rgba(54, 54, 54, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-left .logo-name {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  text-transform: capitalize;
  color: #444444;
}
.disposal {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.8);
  margin-top: 17px;
}
.footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.footer-right h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #444444;
}
.footer-right span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.8);
  margin: 12px 0 37px;
}
.footer-right input {
  border: none;
  background: #f7f7f7;
  width: 89%;
}
.footer-right .sign-up-email button {
  position: absolute;
  right: 12%;
}
.footer-bottom {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-bottom .sms-box {
  background: #fb5f66;
  border-radius: 50px;
  padding: 16px;
}
.footer-bottom .contact-us p {
  font-weight: 400;
  font-size: 12px !important;
  line-height: 14px !important;
  display: flex;
  align-items: center;
  color: rgba(102, 102, 102, 0.8);
}
.footer-bottom .contact-us a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #666666;
  cursor: pointer;
  word-break: break-word;
}
p.rights-reserved {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8c8c8c;
}
.footer-bottom-menus{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer-bottom-menus ul{
  display: flex;
  gap: 25px;
}
.footer-bottom-menus li{
  font-family: Rubik, sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.footer-bottom-menus li:hover{
  color: #fb5f66;
}

/* Pricing new */    
.ai-plan-landing{
  padding: 80px 0;
}
.ai-plan-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
}
.aiplan-bx {
  border: 1px solid #cfcfcf;
  border-radius: 20px;
  width: 290px;
  transition: 0.2s ease-in-out;
}
.active-aiplan .aiplan-content-bx button {
  background: #fb5f66;
  border: 1px solid #fb5f66;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.active-aiplan, .aiplan-bx:hover {
  /* outline: 2px solid #fb5f66; */
  border: 1px solid #fb5f66;
  box-shadow: 0 4px 12px rgba(251,95,102,.4);
}
.aiplan-bx .aiplan-content-bx button:hover{
  background-color: #fb5f66;
  color: white;
  box-shadow: 0px 4px 12px rgb(251 95 102 / 40%);
}
.aiplan-ing-bx {
  background: rgba(251, 95, 102, 0.1);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
}
.aiplan-ing-bx svg{
  width: 185px;
}

.aiplan-ing-bx object {
  object-fit: contain;
  width: 185px;
}
.aiplan-bx:last-child object {
  width: 150px;
}

.aiplan-content-bx {
  padding: 20px 30px;
}
.aiplan-content-bx > h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #444444;
  text-transform: uppercase;
}
.ai-recommend {
  padding: 0px 10px;
  background: rgba(76, 175, 80, 0.2);
  border-radius: 20px;
  color: #27922c;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
}
.ai-current-plan {
  padding: 6px 10px;
  background: rgba(251, 95, 102, 0.2);
  border-radius: 20px;
  color: #fb5f66;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
}
.aiplan-content-bx button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.aiplan-content-bx > p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6d6d6d;
  margin: 5px 0 15px;
}
.aiplan-content-bx .ai-plan-price {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: baseline;
  gap: 8px;
  color: #444444;
  margin-bottom: 25px;
}
.aiplan-content-bx .ai-plan-price > span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #fb5f66;
}
.aiplan-content-bx button {
  width: 100%;
  padding: 12px 0;
  background: #ffffff;
  border: 1px solid #fb5f66;
  border-radius: 4px;
  color: #fb5f66;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
}
.aiplan-content-bx ul > span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6d6d6d;
  margin-bottom: 12px;
}
.aiplan-content-bx ul > li {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #444444;
  gap: 10px;
  margin-bottom: 12px;
  position: relative;
}
.aiplan-content-bx ul > li:last-child {
  margin-bottom: none;
}
.aiplan-content-bx ul li::before {
  background: url(https://dlvkyia8i4zmz.cloudfront.net/TExqgc9SaWgoZRpf3W62_Group.png) no-repeat;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10%;
}
.aiplan-content-bx ul li span {
  margin-left: 25px;
}


/* Pricing ends */

@media (max-width: 1600px) and (min-width: 1441px){
  .banner-right{
    margin-right: -200px;
  }
  .banner-right > img{
    max-width: 100%;
  }
}
@media screen and (max-width: 1440px){
  /* Font-sizes */
  
  .banner-heading{
    font-size: calc( var(--font-size-42) - 2px);
  }
  .chatbot-box-content h5,
  .aiplan-content-bx > h2,
  .footer-left .logo-name{
    font-size: calc(var(--font-size-20px) - 2px);
  }
  .navbar-left .logo-txt h3,
  .example-chatbot-box .img-card .img-details .img-details-left h3{
    font-size: 18px;
  }
  .pricing-head h2{
    font-size: calc(var(--font-size-22) - 2px);
  }
  .faq-ques span,
  .footer-right h6{
    font-size: calc(var(--font-size-18) - 2px);
  }
  .chat-response-box .chat-response-head{
    padding: 12px
  }
  .banner-details,
  .sign-up-email input,
  .example-chatbot-box .img-card .img-details .img-details-left span,
  .live-demo-container p,
  .monthly-label, .yearly-label,
  .aiplan-content-bx .ai-plan-price,
  .footer-bottom .contact-us span
  {
    font-size:  calc(var(--font-size-16) - 2px);
  }
  .chatbot-box-content p,
  .chat-response-box .chat-response-head .head-details h3,
  .chat-response-middle .no-data,
  .chat-response-box .chat-response-textarea input,
  .pricing-head p,
  .aiplan-content-bx > p,
  .aiplan-content-bx button,
  .aiplan-content-bx ul > span,
  .aiplan-content-bx ul > li,
  .footer-right span,
  .footer-bottom-menus li,
  p.rights-reserved
  {
    font-size:  calc(var(--font-size-14) - 2px);
  }
  .signup-btn, 
  .login-btn,
  .credit-free-trial p,
  .chat-response-box .chat-response-head .head-details span,
  .branding,
  .launchbot-head button,
  .footer-bottom .contact-us p {
    font-size:  calc(var(--font-size-12) - 2px);
  }
  .sign-up-email button{
    font-size: calc(13px - 1px);
  }
  .chatbot_builder h2,
  .heading > h4,
  .launchbot-head h3,
  .launchbot-options h5{
    font-size: calc(35px - 2px);
  }
 
  /* Font-sizes */
  .chat-response-box .chat-response-textarea button{
    width: 42px;
    height: 40px;
  }
  .navbar-left svg{
    width: 40px;
    height: 40px;
  }
  .banner-right{
    margin-right: -100px;
  }
  .banner-container{
    gap:50px;
  }
  .banner-right > img{
    width: 90%;
  }
}
@media screen and (max-width: 1024px){
  .banner-left{
    width: 65%;
  }
}

@media (max-width: 1360px) and (min-width: 1023px) {
  /* .banner-container {
    padding: 0 20px;
  } */
  .chatbox_builder_container {
    width: 90%;
  }
  .launchbot-options{
    width: unset;
  }
  /* .banner-right{
    margin-right: -100px;
  } */
  .banner-right > img{
    max-width: 100%;
  }
}

@media screen and (max-width: 1240px){
  .banner-container{
    gap: 0px;
  }
  .banner-right{
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 1023px) and (min-width: 660px) {
  .banner-container {
    flex-direction: column;
    gap: 0;
  }
  .banner-left {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-right {
    margin-right: 0px;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .no-card-credit-signup {
    width: 70%;
    margin: 30px auto;
  }
  .credit-free-trial {
    justify-content: center;
  }
  .chatbox_builder_container {
    width: 100%;
    padding: 30px;
  }
  .example-chatbot-box .img-card .img-details .img-details-left h3 {
    font-weight: 500;
  font-size: 18px;
  margin-bottom: 2px;
  padding: 0px;
  }
  .chat-response-box{
    width: 90%;
  }
  .launchbot-container{
    width: 100%;
  }
  .banner-right > img{
    max-width: 100%;
  }
  .active-faq{
    height: auto;
  }
  .active-faq p{
    padding-bottom: 15px;
  }
  .footer-container{
    gap: 10px;
  }
  .footer-right {
    width: 60%;
  }
  .footer-right input{
    width: 100%;
  }
  .footer-right .sign-up-email button{
    right: 6px;
  }
  
}
/* @media (max-width: 800px){
  .active-faq{
    height: 155px;
  }
} */
@media screen and (max-width: 900px) and (min-width: 660px){
  .chatbot_builder-box .box-image-section{
    height: 240px;
  }
}

@media (max-width: 768px) and (min-width: 250px){
  .privacy-policy-heading{
    margin-top: 30px;
  }
  /* .terms-condition-outer {
    padding: 0 20px;
    margin: 0;
  } */
  .navbar{
    padding: 18px 0;
  }
  .active-faq{
    height: 100%
  }
  .active-faq p{
    padding-bottom: 10px;
  }

  .wrapper .terms-container h1{
    margin-bottom: 40px;
  }
  
  .terms-condition-outer .wrapper{
    padding-top: 10px;
  }
  .privacy-policy-heading span{
  display: none;
  }
  .logo-txt{
    display: none;
  }
  .navbar-right button {
    width: unset;
    height: unset;
    padding: 10px 20px;
  }
  .no-card-credit-signup{
    width: 100%;
    margin-bottom: 30px;
  }
  .banner-container {
    flex-direction: column;
    gap: 0;
    padding: 0 10px;
  }
  .banner-left {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-right {
    margin-right: 0;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .banner-right > img{
    max-width: 100%;
  }
  .chatbox_builder_container{
    grid-template-columns: 1fr ;
    
  }
  .example-chatbot-box{
    flex-wrap: wrap;

  }
  .live-demo-container{
    padding: 15px;
    padding-top: 90px;
  }
  .chat-response-box{
    width: unset;
    padding: 10px;
  }
  
  .credit-free-trial {
    justify-content: center;
  }
  .chatbot_builder-box{
    padding: 10px;
  }
  .chatbot_builder-box .box-image-section{
    padding: 10px;
  }
  .chatbox_builder_container {
    width: 100%;
    padding: 15px;
  }
  .example-chatbot-box .img-card .img-details{
    padding: 0 15px 25px;
  }
  .example-chatbot-box .img-card .img-details .img-details-left h3 {
    font-weight: 500;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 0px;
  }
  .example_chatbots-container{
    padding: 15px;
    padding-top: 90px;
  }
  .launchbot-container{
    width: 100%;
  }
  .launchbot-head{
    padding: 80px 0;
  }
  .pricing-container{
    margin-top: 50px;
    padding: 0;
  }
  .pricing-flex{
    gap: 0;
  }
  .pricing-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 30px;
    margin: 20px;
  }
  .launchbot-options{
    width: 100%;
    padding: 0 15px;
  }
  .faq-ques span{
    font-size: 15px;
    align-items: flex-start;
    gap: 5px;
  }
  .faq-ques svg{
    width: 20px;
  }
  .footer-container{
    flex-direction: column;
  }
  .footer-left, .footer-right{
    width: 100%;
  }
  .footer-left{
    gap: 40px;
  }
  .footer-right input{
    width: 100%;
  }
  .footer-right .sign-up-email button{
    right: 0;
  }
}
@media screen and (max-width: 480px){
  .sign-up-email button{
    padding: 12px 16px;
  }
  .sign-up-email input{
   height: 47px;
  }
  .sign-up-email svg{
    top: 18px;
  }
  .footer-bottom-menus{
 flex-direction: column;
 align-items: center;
 gap: 25px;
  }
}
@media screen and (max-width: 300px){
  .footer-bottom-menus ul{
    flex-direction: column;
    align-items: center;
  }
}

.overlay-gradient{
  position: absolute;
  inset: 0;
  background: linear-gradient(0, #000 0%, rgba(0, 0, 0, 0.00) 50%);
  mix-blend-mode: luminosity;
  z-index: 1;
  border-radius: 15px;
  transition: 0.5s ease;
}

.example-chatbot-box .img-card > picture{
  position: relative;
}

.overlay-gradient:hover ~ img{
  transform: scale(1.05);
  filter: grayscale(0) !important;
  animation: fadeout .5s ease-in-out;
}

.outer-chat-preview-modal{
  position: fixed;
  inset: 0;
  backdrop-filter: blur(7.5px);
  background: rgba(0, 0, 0, 0.70);
  display: grid;
  place-items: center;
  z-index: 3;
}

.inner-chat-preview-modal{
  width: 82%;
  height: 80%;
  position: relative;
}

.inner-chat-preview-modal > iframe{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.close-chat-preview-modal{
  position: absolute;
  right: -40px;
  top: -22px;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  background-color: #ffffff;
  cursor: pointer;
}

.overflow-hd {
  overflow: hidden;
}

@media screen and (max-width: 900px) and (min-width: 768px){
  .example-chatbot-box .img-card .img-details{
    padding: 0 10px 20px;
  }
}

/* New footer design */

.newsletter-section {
  margin-block: 80px;
}

.newsletter-container {
  max-width: 1170px;
  padding-inline: 20px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(271deg, #FFF4F5 0%, rgba(255, 244, 245, 0.00) 100%);
}

.newsletter-section .newsletter-inner {
  padding-block: 60px;
  max-width: 570px;
  margin: 0 auto;
}

.newsletter-inner h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #444;
}

.newsletter-inner .nws-desc {
  font-size: 14px;
  line-height: 24px;
  /* 171.429% */
  color: rgba(102, 102, 102, 0.80);
  margin-block: 10px 30px;
}

.newsletter-inner input {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.10);
  margin-bottom: 0;
  font-size: 13px;
  color: #444;
}

.newsletter-inner .submit-button {
  text-transform: capitalize;
}

.newsletter-container input:focus{
  border-width: 2px;
  border-color: #fb5f66;
}

.newsletter-container .sign-up-email input{
  height: 59px;
}

/* Footer section */

.main-footer {
  background: #F8F8F8;
  padding-block: 60px;
}

.footer-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-footer .left-footer {
  max-width: 31%;
  width: 31%;
}

.main-footer .left-footer p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.80);
  margin-block: 30px 20px;
}

.main-footer .left-footer .footer-socials {
  display: flex;
  gap: 15px;
  margin-bottom: 45px;
}

.main-footer .left-footer .footer-socials a{
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.main-footer .left-footer .footer-socials a:hover {
  background-color: #FB5F66;
  box-shadow: 0px 4px 4px 0px rgba(251, 95, 102, 0.20);
}

.main-footer .left-footer .footer-socials a:hover svg path{
  fill: white;
  fill-opacity: 1;
}
.main-footer .left-footer .footer-socials a:hover svg rect{
  stroke: transparent;
}

.main-footer .left-footer .footer-socials a:last-child:hover svg path{
  fill: #fb5f66;
}

.main-footer .left-footer .footer-socials a:last-child:hover svg rect:first-child{
  fill: white;
  fill-opacity: 1;
}

.main-footer .left-footer .footer-socials a:last-child:hover svg rect:nth-child(2){
  stroke: transparent;
}

.main-footer .footer-center {
  display: flex;
  /* flex-direction: column; */
  /* gap: 20px; */
  justify-content: space-between;
  width: 26%;
  max-width: 26%;
}

.main-footer .footer-center ul {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  padding-left: 0;
}

.main-footer .footer-center ul li {
  list-style: none;
}

.main-footer .footer-center ul li a, .main-footer .footer-center ul li {
  color: #666;
  font-size: 14px;
  line-height: 220%;
  /* cursor: pointer; */
}

.main-footer .footer-center ul li a:hover {
  color: #FB5F66;
  text-decoration: underline;
}

.main-footer .footer-center ul li:first-child {
  color: #444;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.main-footer .right-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  max-width: 25%;
}

.main-footer .right-footer .see_all {
  position: absolute;
  top: -5px;
  right: 0;
}

.main-footer .right-footer .see_all a {
  color: #FB5F66;
  text-decoration-line: underline;
  font-size: 14px;
}

.main-footer .right-footer h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #444;
  margin-block: 0 15px;
  line-height: 1;
}

.main-footer .right-footer .footer-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-footer .right-footer .footer-post {
  display: flex;
  gap: 10px;
  max-width: 280px;
  cursor: pointer;
}

.main-footer .right-footer .footer-post:hover{
  opacity: 0.8;
}

.main-footer .right-footer .footer-post .post-desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.main-footer .right-footer .footer-post .post-desc h4 {
  margin-block: 0;
  font-size: 14px;
  line-height: 19px;
  color: #444;
  font-weight: 500;
  max-width: 190px;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main-footer .right-footer .footer-post .post-desc span {
  color: #666;
  font-size: 12px;
}

.left-footer .contact-us p{
  margin-block: 0;
}

.right-footer .post-img{
  max-width: 80px;
  border-radius: 6px;
}

/* SubFooter section */

.sub-footer {
  background: #EBEBEB;
}

.sub-footer .sub-footer-container {
  max-width: 1170px;
  margin: 0 auto;
  padding-block: 36px;
  display: flex;
  justify-content: space-between;
}

.sub-footer .sub-footer-container span{
  color: #8C8C8C;
  font-size: 14px;
}

@media only screen and (max-width: 1210px) {
  .main-footer, .sub-footer {
    padding-inline: 50px;
  }
  .newsletter-container{
    max-width: 1000px;
  }
  .main-footer .footer-center{
    flex-direction: column;
    gap: 20px;
  }
  .main-footer .left-footer{
    width: 35%;
    max-width: 35%;
  }
  .main-footer .right-footer{
    width: 30%;
    max-width: 30%;
  }
  .main-footer .footer-center{
    width: 20%;
    max-width: 20%;
  }
  .main-footer .footer-center ul li:first-child{
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 980px){
  .main-footer .left-footer{
    width: 40%;
    max-width: 40%;
  }
  .newsletter-container{
    border-radius: 0;
  }
  
}

@media only screen and (max-width: 910px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .main-footer .footer-center{
    width: 40%;
    max-width: 40%;
  }

  .main-footer .right-footer, .main-footer .left-footer{
    width: 100%;
    max-width: 100%;
  }

  .main-footer .footer-left .footer-socials {
    margin-bottom: 20px;
  }

  .main-footer .footer-center {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .sub-footer .sub-footer-container {
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
    gap: 4px;
  }
  .main-footer, .sub-footer {
    padding-inline: 20px;
  }
  .newsletter-container .sign-up-email input{
    height: 47px;
  }
}

.opacity-4{
  opacity: 0.4;
}

a{
  cursor: pointer;
}