@media screen and (max-width: 1550px) {
 
    /* .chatbox_builder_container{
        width: 80%;
    } */
    footer{
        width: 80%;
    }
  }
  @media screen and (max-width:1280px){
    footer{
        width: 95%;
    }
  }
  @media screen and (max-width:768px){
    footer{
        width: 90%;
    }
  }
  @media screen and (max-width:1010px){
    .footer-left{
        border-right: none;
    }
  }
